@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin padding {
    padding: 110px 30px 30px 30px;
}

@mixin paddingLarge {
    padding: 110px 60px 60px 60px;
}

@mixin paddingXLarge {
    padding: 110px 110px 110px 110px;
}