$zwart: #1E1D1D;
$donkergrijs: #262525;
$donkergrijstransparant: #26252593;
$lichtgrijs: rgb(90, 90, 90);
$wit: #E6E6E6;
$geel: #E8AB13;
$mainfont: 'Playfair Display',
'Arial',
serif;
$font: 'Lato',
'Arial',
sans-serif;